<%= tag.div id: dom_id(block), class: "p-1 flex items-center gap-4"  do %>
  <div class="flex justify-between">
    <div>
      <h5 class="font-bold"><%= block.mode %> - <%= block.format %></h5>
      <ol class="list-none ml-7">
        <% block.exercises.each do |exercise| %>
          <%= tag.li id: dom_id(exercise) do %>
            <%= exercise.description %>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>
